.markdown-reading-view .block-language-cardlink {
  margin: var(--p-spacing) 0;
}

.auto-card-link-container {
  position: relative;
  overflow: hidden;
}

.auto-card-link-card {
  display: flex;
  flex-direction: row-reverse;
  height: 8em;
  text-decoration: none;
  color: var(--link-external-color);
  background: var(--background-primary-alt);
  border: solid var(--border-width) var(--divider-color);
  border-radius: var(--radius-s);
}

.auto-card-link-card:hover {
  background: var(--background-modifier-hover);
}

.auto-card-link-main {
  flex: 1;
  padding: 0.5em 0.6em;
  overflow: hidden;
}

.auto-card-link-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.auto-card-link-description {
  font-size: var(--font-smallest);
  color: var(--text-muted);
  line-height: 1.4em;
  max-height: 4.2em;
  overflow: hidden;
}

.auto-card-link-host {
  display: flex;
  align-items: center;
  font-size: var(--font-smallest);
}

.auto-card-link-favicon {
  width: 16px;
  margin-right: 0.5em;
}

.auto-card-link-thumbnail {
  height: 100%;
  object-fit: cover;
  max-width: 50% !important;
}